Notebook slide presentations
============================

Instructions for using the RISE plugin

https://github.com/damianavila/RISE
https://github.com/dunovank/jupyter-themes

Help with markdown at 
https://sourceforge.net/p/jupiter/wiki/markdown_syntax

A summary of commands

pip install RISE
jupyter-nbextension install rise --py --sys-prefix
jupyter nbextension enable rise --py --sys-prefix
pip install --upgrade jupyterthemes

jt -l # get a list if themes
jt -t grade3 -T -N  # set the theme before running jupyter-notebook
